 <div class="d-flex gap-3 align-items-center" id="loginSignUpBtns">
            <a href="/login"><h2 id="loginBtn">Log in</h2></a>
            <a href="/signup"><h2 class="signupBtn">Sign up</h2></a>
        </div>