                            {{#each tasks}}
                            <div class="list-item" draggable="true" contenteditable="true"
                                data-task-id="{{this.id}}" data-list-id="{{this.list_id}}">{{this.task_content}}
                            </div>
                            {{/each}}