
    <header class="d-flex justify-content-between container-fluid">
        <div class="d-flex gap-3 align-items-center">
            <div id="project-logo"></div>
            <h1 id="projectName">ProManj</h1>
        </div>
        {{>loginSignup}}
    </header>

    <main>
        <div class="d-flex align-items-center" id="mainHomepageDiv"> 
            <div id="column1" class="d-flex flex-column gap-3">
                <h3 id="homepage-project-desc" class->ProManj makes task delegation and project management easy.</h3>
                <h4>Eliminate any miscommunications, delegate tasks with ease, and chat with fellow project
                    members--accomplish
                    it all with ProManj</h4>
                <form class="d-flex flex-column gap-2">
                    <input type="text" placeholder="Email" id="emailInputHomepage">
                    <input type="submit" class="signupBtn" value="Sign up-it's free!" id="submitEmail">
                </form>
            </div>
            <img id="homepage-img" src="./img/homepage-img.png">
        </div>
    </main>
