<header class="d-flex justify-content-between container-fluid">
        <div class="d-flex gap-3 align-items-center">
            <div id="project-logo"></div>
            <h1 id="projectName">ProManj</h1>
        </div>
        <div class="d-flex gap-3 align-items-center align-self-center" id="loginSignUpBtns">
            <h2 id="helloText">Hello Michael!</h2>
            <button id="logout">logout</button>
            <div id="profileCircle">MK</div>
        </div>
    </header>
    <main>
        <div class="d-flex gap-4" id="bg-color-projects-dashboard">
            <div id="messagesColumn" class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <h2 id="messengerWord">Messenger</h2>
                    <img src="./img/pencil_icon.png" id="addMessageIcon">
                </div>
                <div class="d-flex flex-column gap-3" id="messagesList">
                    
                    <div class="d-flex flex-column">
                        <div class="d-flex gap-3 align-items-center messageListing collapsible">
                            <div class="profileCircle">RD</div>
                            <h3 class="messageContact">Romeo Dixon</h3>
                        </div>
                        <div class="messageCollapsible">
                            <div class="messagesContainer flex-column justify-content-between"></div>
                            <form class="sendMessage d-flex justify-content-between">
                                <input type="text" placeholder="type message here" class="messageInput">
                                <input type="submit" value="send" class="submitMessage">
                            </form>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex gap-3 align-items-center messageListing collapsible">
                            <div class="profileCircle">RD</div>
                            <h3 class="messageContact">Romeo Dixon</h3>
                        </div>
                        <div class="messageCollapsible">
                            <div class="messagesContainer flex-column justify-content-between"></div>
                            <form class="sendMessage d-flex justify-content-between">
                                <input type="text" placeholder="type message here" class="messageInput">
                                <input type="submit" value="send" class="submitMessage">
                            </form>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex gap-3 align-items-center messageListing collapsible">
                            <div class="profileCircle">RD</div>
                            <h3 class="messageContact">Romeo Dixon</h3>
                        </div>
                        <div class="messageCollapsible">
                            <div class="messagesContainer flex-column justify-content-between"></div>
                            <form class="sendMessage d-flex justify-content-between">
                                <input type="text" placeholder="type message here" class="messageInput">
                                <input type="submit" value="send" class="submitMessage">
                            </form>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex gap-3 align-items-center messageListing collapsible">
                            <div class="profileCircle">RD</div>
                            <h3 class="messageContact">Romeo Dixon</h3>
                        </div>
                        <div class="messageCollapsible">
                            <div class="messagesContainer flex-column justify-content-between"></div>
                            <form class="sendMessage d-flex justify-content-between">
                                <input type="text" placeholder="type message here" class="messageInput">
                                <input type="submit" value="send" class="submitMessage">
                            </form>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex gap-3 align-items-center messageListing collapsible">
                            <div class="profileCircle">RD</div>
                            <h3 class="messageContact">Romeo Dixon</h3>
                        </div>
                        <div class="messageCollapsible">
                            <div class="messagesContainer flex-column justify-content-between"></div>
                            <form class="sendMessage d-flex justify-content-between">
                                <input type="text" placeholder="type message here" class="messageInput">
                                <input type="submit" value="send" class="submitMessage">
                            </form>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex gap-3 align-items-center messageListing collapsible">
                            <div class="profileCircle">RD</div>
                            <h3 class="messageContact">Romeo Dixon</h3>
                        </div>
                        <div class="messageCollapsible">
                            <div class="messagesContainer flex-column justify-content-between"></div>
                            <form class="sendMessage d-flex justify-content-between">
                                <input type="text" placeholder="type message here" class="messageInput">
                                <input type="submit" value="send" class="submitMessage">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column gap-4">
                <div class="d-flex flex-column" id="YourWorkspacesSection">
                    <h2 id="workspaceSectionTitle">YOUR WORKSPACES</h2>
                    <hr>
                        <div id="projectList">
                            
                            <div class="projectItemCustom d-flex flex-column gap-3">
                                <a href="/project">
                                <div class="d-flex align-items-end gap-3">
                                    <div id="projectLogo">F</div>
                                    <h3 id="projectTitle">Food Locator</h3>
                                </div>
                                <div>
                                    <h4 id="projectDetails"><span class="bold">Description: </span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span></h4>
                                    <h4 id="projectDetails"><span class="bold">Last Updated: </span><span>02/09/22 at 10:34AM CST</span></h4>
                                </div>
                                </a>
                            </div>
                        
                            <div class="projectItemCustom d-flex flex-column gap-3">
                                <div class="d-flex align-items-end gap-3">
                                    <div id="projectLogo">F</div>
                                    <h3 id="projectTitle">Food Locator</h3>
                                </div>
                                <div>
                                    <h4 id="projectDetails"><span class="bold">Description: </span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span></h4>
                                    <h4 id="projectDetails"><span class="bold">Last Updated: </span><span>02/09/22 at 10:34AM CST</span></h4>
                                </div>
                            </div>
                            
                            <div class="projectItemCustom d-flex flex-column gap-3">
                                <div class="d-flex align-items-end gap-3">
                                    <div id="projectLogo">F</div>
                                    <h3 id="projectTitle">Food Locator</h3>
                                </div>
                                <div>
                                    <h4 id="projectDetails"><span class="bold">Description: </span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span></h4>
                                    <h4 id="projectDetails"><span class="bold">Last Updated: </span><span>02/09/22 at 10:34AM CST</span></h4>
                                </div>
                            </div>

                            <div class="projectItemCustom d-flex flex-column gap-3">
                                <div class="d-flex align-items-end gap-3">
                                    <div id="projectLogo">F</div>
                                    <h3 id="projectTitle">Food Locator</h3>
                                </div>
                                <div>
                                    <h4 id="projectDetails"><span class="bold">Description: </span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span></h4>
                                    <h4 id="projectDetails"><span class="bold">Last Updated: </span><span>02/09/22 at 10:34AM CST</span></h4>
                                </div>
                            </div>

                            <div class="projectItemCustom d-flex flex-column gap-3">
                                <div class="d-flex align-items-end gap-3">
                                    <div id="projectLogo">F</div>
                                    <h3 id="projectTitle">Food Locator</h3>
                                </div>
                                <div>
                                    <h4 id="projectDetails"><span class="bold">Description: </span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span></h4>
                                    <h4 id="projectDetails"><span class="bold">Last Updated: </span><span>02/09/22 at 10:34AM CST</span></h4>
                                </div>
                            </div>
                        </div>
              
                </div>
                <!-- MANAGE WORKSPACES SECTION -->
                <div id="ManageWorkspacesSection">
                    <h2 id="workspaceSectionTitle">YOUR WORKSPACES</h2>
                    <hr>
                    <div class="d-flex flex-column gap-5">
                        <h3 id="startProject" class="manageWorkspaceOption">Starting a new project?</h3>
                        <h3 id="searchForProject" class="manageWorkspaceOption">Search for an existing project?</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/collapsible.js"></script>
    <script src="js/logout.js"></script>
