:root {
    --darkBlue: #374785;
    --lightBlue: #A8D0E6;
    --grey: #C4C4C4;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
}

/* HEADER BAR AT TOP */
#project-logo {
    background-color: var(--grey);
    border-radius: 8px;
    width: 59px;
    height: 59px;
}

header div:first-child:hover {
    cursor: pointer;
}

#emailInput,
 #passwordInput,
 #firstNameInput,
 #lastNameInput,
 #verifyPasswordInput {
    height: 4vh;
    background-color: #9f9f9f46;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    transition: width .35s ease-in-out;
    padding-left: 10px;
}

#emailInputHomepage {
    background-color: white;
    height: 4vh;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    transition: width .35s ease-in-out;
    padding-left: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #37478596;
}

a{
    text-decoration: none;
}

#loginBtn {
    cursor: pointer;
    color: var(--darkBlue)
}

#loginBtn:hover {
    text-decoration: underline;
}

.signupBtn {
    background-color: #375685;
    font-weight:600;
    color: white;
    border-radius: 7px;
    padding: 8px 8px;
    border: none;
    

}

.signupBtn:hover {
    background-color: var(--darkBlue);
    cursor: pointer;
}

.signupBtn:active {
    box-shadow: 0 0 5px 5px #37478531;
}

header {
    height: auto;
    padding:2vh;
    background-color: var(--lightBlue);
}

#homeIcon {
    height: 40px;
    width: auto;
}

main {
    height: 89.6vh;
    background-image: linear-gradient(#A8D0E6, #374785);
    /* position:relative; */
}

#projectName {
    font-weight: bold;
    font-size: 5vh;
}

/* HOMEPAGE */

#homepage-project-desc {
    font-weight: 700;
}

#homepage-img {
    height: 100%;
}


#mainHomepageDiv {
    overflow: hidden;
    padding-top:5vh;
}

#column1 {
    padding: 10vh;
    min-width: 552px;
    max-width: 700px; 
}

@media screen and (max-width: 1200px) {
    #mainHomepageDiv {
        flex-wrap: wrap-reverse;
        justify-content: center;
        /* transition: .35s ease-in-out; */
        padding: 0;
    }

    main {
        height: auto;
    }

    #homepage-img {
        /* flex-basis: 100%;
        height: auto */
        width: 120%;
    }
    
    #column1 {
        padding:2vh 8vw ;
        min-width: 0;
        max-width: none;
    }
}

/* @media screen and (max-width: 572px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }
    #homepage-project-desc {
        font-size: 32px;
    }
    main {
        height:85vh;
    }
} */

/* LOGIN AND SIGN UP PAGES */

#loginBlock {
    background-color: white;
    width: 440px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 4px #a8a8a8
}

#submitEmail,
#submitLogin,
#submitSignup {
    border: none;
    border-radius: 6px;
    background-color: #51DB21;
    color: white;
    font-weight: bold;
    margin:0;
    height: 4vh;
}

/* input[type=text] {
    background-color: #d4d4d4;
    margin:0;
} */

#submitEmail:hover,
#submitLogin:hover,
#submitSignup:hover {
    background-color: #39a017e3;
}

/* input[type=password] {
    background-color: #d4d4d4;
    margin:0;
} */

.futureLogin {
    border: 2px #9F9F9F solid;
    height: 4vh;
    border-radius: 6px;
    box-shadow: 0 0 4px 2px #00000048;
}

#cantLogIn {
    font-size: 14px;
    text-align:center;
}

#loginBtn {
    
    color: #007bc2;
    
    
}

/* main {
    padding-top: 5vh;
} */

@media screen and (max-width: 572px) {
    #loginBlock {
        width: 90vw;
        padding: 5vw;
    }
    /* main {
        padding-top: 1vh;
    } */
}

#profileCircle {
    padding: 1vh;
    background-color: #24305E;
    border-radius: 360px;
    color:white;
    cursor: pointer;
}

#bg-color-projects-dashboard {
    background-color: #E9E9E9;
    padding:2vh;
    height:89.7vh;
}

#messengerWord {
    font-size: 28px;
    font-weight: bold;
}

#messagesColumn {
    background-color: white;
    padding:18px;
    border-radius: 6px;
    flex-basis: 50%;
    box-shadow: 0 0 100px -43px #001789b6;
    height: 100%;
}

#messagesList {
    padding-top:20px;
    overflow-y: scroll;
    height: 100%;
}
#messagesList::-webkit-scrollbar {
    display: none;
}


#addMessageIcon {
    height:31px;
    width:31px;
    padding:5px;
    border-radius: 6px;
}

#addMessageIcon:hover {
    background-color: rgba(128, 128, 128, 0.308);
    cursor: pointer;
}

#addMessageIcon:active {
    background-color: rgba(128, 128, 128, 0.534);
}

.profileCircle {
    padding:0.8vh;
    background-color: #24305E;
    border-radius: 360px;
    color:white;
}

#saveNoteButton {
    height:20px;
    transition: .2s ease-in-out;
}

#deleteNoteButton {
    height:20px;
    transition: .2s ease-in-out;
}

#saveNoteButton:hover {
    background-color: #00681a56;
    box-shadow: 0 0 10px 3px #00681a56;
}

#deleteNoteButton:hover {
    background-color: #9e010154;
    box-shadow: 0 0 10px 3px #9e010154;
}

.noteContent {
    display:block;
    line-break: auto;
    border-radius:0 0 6px 6px;
    padding:8px;
    background-image: url('/img/notepad.png');
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    overflow-y: scroll;

}

.noteContent h3 {
    font-size: 20px;
    margin: 18px 35px;
    line-height:1.25;
}

.noteContent::-webkit-scrollbar {
    display: none;
}

.messageListing {
    background-color: #593b3b75;
    padding:10px;
    border-radius: 6px 6px 0 0;
    user-select: none;
}

.messageContact {
    font-size: 20px;
    font-weight: bold;
    max-width: 20vw;
}

.messageContact:hover {
    cursor:text;
}

.messageListing:hover {
    cursor: pointer;
}
/* 
.messagesContainer {
    
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    
} */

.messageInput {
    width: 80%;
    box-shadow: 0 0 0 3px #37478596;
}

#YourWorkspacesSection {
    background-color: #DDE8FD;
    border-radius: 6px;
    padding:18px;
    box-shadow: 0 0 100px -43px #0006af73;
    height: 70%;
}

#workspaceSectionTitle {
    font-size: 20px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.562)
}

#projectList {
    height:60vh;
    overflow-y: scroll;
}

.projectItemCustom {
    padding: 10px;
    border-radius: 6px;
    transition: .15s linear;

}

.projectItemCustom:hover {
    background-color: #24305e34;
    cursor: pointer;
}

.projectItemCustom:active {
    background-color: #24305e55;
}

#projectLogo {
    font-size: 24px;
    font-weight: bold;
    color:white;
    background-color: #FF5C5C;
    padding:3px 15px;
    border-radius: 6px;
}

#projectTitle {
    font-size: 22px;
    font-weight: bold;
}

.bold {
    font-weight:bold;
}

#projectDetails {
    font-size: 16px;
}

#ManageWorkspacesSection {
    background-color: #DDE8FD;
    border-radius: 6px;
    padding:18px;
    box-shadow: 0 0 100px -43px #0006af73;
    height: 25vh;
}

.manageWorkspaceOption {
    font-weight: bold;
    font-size: 24px;
}

.manageWorkspaceOption:hover {
    text-decoration: underline;
    cursor: pointer;
}

.messageInput {
    background-color: white;
    border-radius:100px;
    padding:7px 0 7px 10px;

    border: none; 
}

.submitMessage {
    width:15%;
    background-color: white;
    border-radius:100px;
    border:none;
    background-color: #516DFF;
    color:white;
}

#submitLocation {
    height:auto;
    width: 23px;
 
}

#locationDiv {
   background-color: #516DFF;
    padding:9px;
    border-radius: 360px;
    cursor:pointer;
}

@media screen and (max-width:1200px) {
    #bg-color-projects-dashboard {
        flex-wrap: wrap-reverse;
        height:auto;
    }

        /* #workspaceSectionTitle {
            height:auto;
        } */

    
    #messagesColumn {
        flex-basis: 100%;
        height:80vh;
    }
}



#messagesColumn1 {
    background-color: white;
    padding:18px;
    border-radius: 6px;
    /* max-width: 450px; */
    width:50%;
    box-shadow: 0 0 100px -43px #001789b6;
    height: auto;
}

#trelloColumn {
    height: auto;
}

#trelloSection {
    /* height:70%; */
        height: 70%
}

#memberOptionsRow {
    height: 230px;
}

#projectTitle {
    font-size: 2.2vw;
    font-weight: bold;
}

#trelloBoard {
    width:100%;
    height:100%;
    overflow-x: scroll;
}

#membersSection {
   flex-basis: 60%;
   background-color: #DDE8FD;
   border-radius: 6px;
   padding:15px;
 
}

#memberManagement {
    background-color: #DDE8FD;
    border-radius: 6px;
    padding:15px;
    flex-grow:1;
}

#membersList {
    height:187px;
    overflow-y: scroll;
}

.memberName {
    font-size: 20px;
}

.memberInstruction {
    color: rgba(0, 0, 0, 0.75);
    font-size: 24px;
    font-weight: bold;
}

#inviteButton {
    background-color: #4557a1;
    border-radius: 6px;
    color:white;
    font-weight: bold;
    font-size: 24px;
    padding:6px
}

#inviteButton:hover {
    background-color: #374785;
    cursor: pointer;
}

#leaveButton {
    background-color: #dd0000;
    border-radius: 6px;
    color:white;
    font-weight: bold;
    font-size: 24px;
    padding:6px
}

#leaveButton:hover {
    background-color: #B90000;
    cursor: pointer;
}

.onlineDot {
    height:5px;
    width:5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 360px;
}

/* INVITE MEMBER MODAL */
#inviteMemberButton {
    border: none;
    background-color: #4557a1;
    border-radius: 6px;
    color:white;
    /* font-weight: bold; */
    font-size: 24px;
    padding:4px 10px;
    /* width: 40%; */
}

#inviteMemberButton:hover {
    background-color: #374785;
    cursor: pointer;
}

#addMemberInput {
    border: none;
    padding: 6px;
    border-radius: 4px;
    background-color: #C4C4C4;
    color:white;
    width:90%;
}

#addMemberInput::placeholder {
    color:white;
}

#profileOptions {
    position:absolute;
    background-color: white;
    right:1.2vw;
    top:12vh;
    border-radius: 6px;
    z-index: 1;
}

.hideDisplay {
    display: none !important;
}

#profileOptions h3 {
    font-size: 24px;
    cursor: pointer;
    color:white;
    border-radius: 6px;
    padding: 5px 10px;
}

#editProfileButton {
    background-color: #4356FF;
}
#editProfileButton:hover {
    background-color: #313fbe;
}
#logoutButton {
    background-color: #FF2222;
}
#logoutButton:hover {
    background-color: #b81919;
}

#removeMemberButton {
    background-color: #dd0000;
    border-radius: 6px;
    padding:6px 10px;
    font-size: 24px;
}

#removeMemberButton:hover {
    background-color: #810000;
    cursor: pointer;
}

.modal-open {
    padding-right: 0 !important;
    overflow: auto !important;
}

#updateFirstNameInput,
#updateLastNameInput,
#updateEmailInput,
#enterPasswordInput {
    padding: 2px 10px;
    width: 80%;
    border:none;
    background-color: #C4C4C4;
    color:black;
    border-radius: 6px;
    font-size: 24px;
}

#updateFirstNameInput::placeholder,
#updateLastNameInput::placeholder,
#updateEmailInput::placeholder,
#enterPasswordInput::placeholder {
    color:black;
}


/* FORM FOR STARTING A NEW PROJECT */
#updateProfileSubmit {
    border:none;
    background-color: #374785;
    border-radius: 6px;
    color:white;
    font-size: 24px;
    font-weight: bold;
    width:35%;
    padding:6px 0;
    margin:0 auto;
}

#projectNameInput {
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: #d8d4d47e;
}

#projectDescInput {
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    height: 7vh;
    background-color: #d8d4d47e;
}

#projectEmailInput {
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    background-color: #d8d4d47e;
    flex: 1
}

#addEmailButton {
    border: none;
    border-radius: 6px;
    background-color: #6EC345;
    color: white;
    padding:6px 10px;
    font-size: 20px;
}

#addEmailButton:hover {
    background-color: #518f32;
    cursor: pointer;
}

.emailListing {
    color: white;
    padding: 2px 8px;
    background-color: #6ab5e0;
    border-radius: 360px;
}

#createProjectSubmit {
    background-color: #536DF4;
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding:6px 10px;
    flex-shrink: 0;
}

#createProjectSubmit:hover {
    background-color: #3a4eb3;
}

@media screen and (max-width:1200px) {
    #bg-color-projects-dashboard {
        flex-wrap: wrap-reverse;
    }

    #trelloBoard {
        height: 57vh;
    }

    #memberOptionsRow {
        height: auto;
    }

    #messagesColumn1 {
        flex-basis: 100%;
        height:80vh;
    }
}

@media screen and (max-width: 680px) {
    #helloText {
        display:none;
    }
}

@media screen and (max-width: 612px) {
    #memberOptionsRow {
        flex-wrap: wrap;
    }
    #membersSection {
        flex: 1 0 100%;
    }
    #memberManagement {
        flex: 1 0 100%;
    }
}

@media screen and (max-width: 432px) {
    #project-logo {
        display:none;
    }
}