
#trelloColumn {
    width:200px;
    flex-basis: 100%;
}

#trelloBoard {
    /* width: 500px; */
    overflow-x: scroll;
}

#trelloBoard .list {
    margin-bottom: auto;
    min-width:270px;
    width:270px;


    background-color: #374785;
    border-radius: 6px;
    
    padding:10px;
    transition: all 0.2s linear;

    cursor: pointer;
}

.list-item {
    background-color: #ECECEC;
    border-radius: 6px;
    padding: 10px;
    margin:4px 0px;
    font-size: 18px;
    font-weight: bold;
}

.list-item:hover {
    background-color: #ecececcc;
}

#editListButton {
    height: 20px;
}

.taskList {
    overflow-y: scroll;
    max-height: 350px;
}

.taskList::-webkit-scrollbar {
    display: none;
}

/* .dragging {
    opacity: .5;
} */

.addTaskButton {
    transition: .25s ease-in-out;
    text-align: center;
    border-radius: 6px;
}

.addTaskButton:hover {
    background-color: #5267bb;
}


/* DRAGGABLE TOGGLE */
#draggableToggle {  
    transform: rotate(90deg);
    position: relative;
    width: 40px;
    height: 18px;
    -webkit-appearance: none;
    background: #1d0dff96;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    transition: 0.7s;
}

#draggableToggle:checked {
    background: #fffb24be
}

#draggableToggle:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

#draggableToggle:checked:before {
    left: 20px;
}

#draggableToggle:hover {
    cursor: pointer;
}

#moveableTasksH6 {
transition: .30s ease-in-out;
cursor: pointer;
font-weight: bold;
}

#moveableListsH6 {
transition: .30s ease-in-out;
opacity: 50%;
cursor: pointer;
font-weight: bold;
}

#addListButton {
    cursor: pointer;
} 

[contenteditable] {
    outline: 0px solid transparent;
}
/* END */

/* TEXT TOGGLE */
#editTextToggle {  
    transform: rotate(90deg);
    position: relative;
    width: 40px;
    height: 18px;
    -webkit-appearance: none;
    background: #0dff5e96;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    transition: 0.7s;
}

#editTextToggle:checked {
    background: #ff2b24be
}

#editTextToggle:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

#editTextToggle:checked:before {
    left: 20px;
}

#editTextToggle:hover {
    cursor: pointer;
}

#editTextOn {
    transition: .30s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}
    
#editTextOff {
    transition: .30s ease-in-out;
    opacity: 50%;
    cursor: pointer;
    font-weight: bold;
}

/* END */

@media screen and (max-width:1200px) {
    #projectTitle {
        font-size: 30px;
    }
}

@media screen and (max-width:820px) {
    #trelloTitleBar {
        flex-wrap: wrap;
        gap: 10px;
    }

    #projectTitle {
        width: 100%;
        text-align: center;
    }

    #trelloOptionsBar {
        margin: 0 auto;
        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .vr:nth-child(4) {
        display: none;
    }
    #trelloOptionsBar {
        flex-wrap: wrap;
    }
    .h3, h3 {
        font-size: 20px!important;
    }
}

/* @media screen and (max-width:432px) {
    .vr:nth-child(2) {
        display: none;
    }
    #dragTaskToggleDiv {

    }
    #editTextToggleDiv {
    }
} */